@charset "utf-8";
:root {
    --cor0:#49a09d;
    --cor1:#5f2c82;
}
main{
    height: 450px;
    justify-content: center;
    align-items: center;
}

form { 
    border-radius: 10px;
    border: 1px groove white;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.418);
    padding: 10px;
    background: transparent;
    
}
form p {
    margin: 10px 0px;
}
input.button{
    padding: 4px;
    width: 70px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    cursor: pointer;
    margin: 10px 10px 0px 0px;
}

input.button:hover{
    background-color: var(--cor0);
    transition: 0.2s;
}
span#imostrar {
    display: inline-flex;
    transform: translate(-33px, 8px);
    cursor: pointer;
}