@charset "UTF-8";

section {
    margin: 7px;
}
main {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}
section h1 {
    margin: 5px;
    text-align: justify;
    background-image: linear-gradient(to left, var(--cor0), var(--cor1));
}
section p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}