<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imagens/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/media-querys/Mgeral.css">
    <link rel="stylesheet" href="/static/css/alterar_dados.css">
    <link rel="stylesheet" href="/static/css/media-querys/Malterardados.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Alterar dados</title>
</head>
<body>
    <header>
        <div><h1>Projeto em Flask</h1></div>
        <menu>
            <a href="/{{user}}">Início</a>
            <a href="/{{user}}/galeria">Galeria</a>
            <a href="/{{user}}/painel"> <span class="material-symbols-outlined">person</span> {{user}}</a>
            <a href="/logout/{{user}}">Log out</a>
        </menu>
    </header>
    <main>
        <section id="cadastro">
            <form action="painel" method="post" autocomplete="on">
                <fieldset id="Dpessoal">
                    <legend>Dados Pessoais</legend>
                    <p>
                        <label for="inome">Nome: </label>
                        <input type="text" name="nome" id="inome" required placeholder="Nome Completo" autocomplete="name" size="38" autofocus value="{{nome}}">
                    </p>
                    <p>
                        <label for="isexo">Sexo:</label>
                        <select name="sexo" id="isexo" autocomplete="sex" >
                            <optgroup label="Selecionado">
                                <option value="{{sexo}}">{{sexo}}</option>
                            </optgroup>
                            <optgroup label="Sexo">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino" >Feminino</option>
                            </optgroup>
                        </select>
                    </p>
                    <p>
                        <label for="inascimento">Data de Nascimento: </label>
                        <input type="date" name="nascimento" id="inascimento"  required autocomplete="bday" value="{{nascimento}}">
                    </p>
                    <p>
                        <label for="iemail">E-mail: </label>
                        <input type="email" name="email" id="iemail" required placeholder="seuemail@seuemail.com" autocomplete="email" size="38" value="{{email}}">
                    </p>
                    <p>
                        <label for="itel">Telefone: </label>
                        <input type="tel" name="tel" id="itel" placeholder="(xx) xxxxx-xxxx" required autocomplete="tel" size="13" value="{{telefone}}">
                    </p>
                </fieldset>
                <fieldset id="Dendereço">
                    <legend>Endereço</legend>
                    <p>
                        <label for="irua">Rua: </label>
                        <input type="text" name="rua" id="irua" placeholder="R:" required autocomplete="street-address" value="{{rua}}">
        
                        <label for="inumero">Nº: </label>
                        <input type="number" name="numero" id="inumero" placeholder="Nº" required value="{{numero}}" maxlength="5">
                    </p>
                    <p>
                        <label for="ibairro">Bairro: </label>
                        <input type="text" name="bairro" id="ibairro" placeholder="Bairro" required autocomplete="address-level1" value="{{bairro}}">
                    </p>
                    <p>
                        <label for="icep">CEP: </label>
                        <input type="text" name="cep" id="icep" placeholder="xxxxx-xxx" autocomplete="postal-code" required size="8" value="{{cep}}">
                    </p>
                </fieldset>
                    <p>
                        <input type="submit" value="Atualizar" class="btn">
                        <input type="button" value="Cancelar" class=" btn" onclick="cancelar()" >
                    </p>
        </section>
    </main>
        
    </form>

    <script src="/static/js/alterar_senha.js"></script>
</body>
</html>