<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/imagens/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/geral.css">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <link rel="stylesheet" href="../static/css/media-querys/Mcadastro.css">
    <link rel="stylesheet" href="../static/css/media-querys/Mgeral.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro</title>
</head>
<body>
<header>
        <div><h1>Meu Site</h1></div>
        <menu>
            <a href="/">Início</a>
            <a href="login">Entrar</a>
            <a href="cadastro">Cadastre-se</a>
        </menu>
    </header>
    <main>
        <section id = cadastro>
            <form action="cadastrado" method="post" autocomplete="on">

                <fieldset id="Dpessoal">
                    <legend>Dados Pessoais</legend>
                    <p>
                        <label for="inome">Nome: </label>
                        <input type="text" name="nome" id="inome" required placeholder="Nome Completo" autocomplete="name" autofocus>
                    </p>
                    <p>
                        <label for="isexo">Sexo:</label>
                        <select name="sexo" id="isexo" autocomplete="sex" >
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </p>                    
                    <p>
                        <label for="inascimento">Data de Nascimento: </label>
                        <input type="date" name="nascimento" id="inascimento"  required autocomplete="bday">
                    </p>
                    <p>
                        <label for="iemail">E-mail: </label>
                        <input type="email" name="email" id="iemail" required placeholder="seuemail@seuemail.com" autocomplete="email">
                    </p>
                    <p>
                        <label for="itel">Telefone: </label>
                        <input type="tel" name="tel" id="itel" placeholder="(xx) xxxxx-xxxx" required autocomplete="tel">
                    </p>
                </fieldset>

                <fieldset id="Dendereço">
                    <legend>Endereço</legend>

                    <label for="irua">Rua: </label>
                    <input type="text" name="rua" id="irua" placeholder="R:" required autocomplete="street-address">

                    <label for="inumero">Nº: </label>
                    <input type="number" name="numero" id="inumero" placeholder="Nº" required > <br>

                    <label for="ibairro">Bairro: </label>
                    <input type="text" name="bairro" id="ibairro" placeholder="Bairro" required autocomplete="address-level1"> <br>

                    <label for="icep">CEP: </label>
                    <input type="text" name="cep" id="icep" placeholder="xxxxx-xxx" autocomplete="postal-code" required>

                </fieldset>

                <fieldset id="Dlogin">
                    <legend>Dados de Login</legend>

                    <label for="isuer">Usuario: </label>
                    <input type="text" name="user" id="isuer" required placeholder="usuario para login" autocomplete="username"> <br>

                    <label for="isenha">Senha: </label>
                    <input type="password" name="senha" id="isenha" required placeholder="Senha de acesso" autocomplete="new-password" onchange="confirmar_senha()">
                    <div class="ver"><span class="material-symbols-outlined" id="imostrar" onclick="mostrar()"> visibility </span></div>
                    <div class="esconder"><span class="material-symbols-outlined" id="imostrar"> visibility_off </span></div><br>

                    <label for="iconfirmpass">Confirme a Senha: </label>
                    <input type="password" name="confirmpass" id="iconfirmpass" required placeholder="Confirme a Senha" autocomplete="new-password" onchange="confirmar_senha()">
                    <div class="ver">
                        <span class="material-symbols-outlined" id="imostrar2" onclick="mostrar1()"> visibility </span>
                    </div>
                    <div class="esconder">
                        <span class="material-symbols-outlined" id="imostrar2"> visibility_off </span>
                    </div>
                </fieldset>
                <p>
                    <input type="submit" value="Enviar" class="btn">
                    <input type="reset" value="Limpar" class=" btn" >
                </p>
                
            </form>

        </section>

    </main>
    <script src="/static/js/cadastro.js"></script>
</body>
</html>