<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/imagens/favicon.png" type="image/x-icon">
    <title>Cadastrado</title>
    <link rel="stylesheet" href="../static/css/geral.css">
    <link rel="stylesheet" href="../static/css/media-querys/Mgeral.css">
</head>
<body>
    <header>
        <div><h1>Meu Site</h1></div>
        <menu>
            <a href="/">Início</a>

        </menu>
    </header>
    <h1>
        {{ nome }}, Cadastrado com Sucesso
    </h1>
</body>
</html>