<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/geral.css">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <title>Meu site</title>
</head>
<body>
    <header>
        <div><h1>Meu Site</h1></div>
        <menu>
            <a href="/">Início</a>
            <a href="login">Entrar</a>
            <a href="cadastro">Cadastre-se</a>
        </menu>
    </header>
    <main>
        <section class="principal">
            <h1>Titulo</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At minus unde ducimus recusandae sit dolorem veniam nostrum quos, nesciunt et eaque quod inventore. Delectus, quia totam. Esse cum nulla quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum saepe ad ipsa a odit consequuntur nostrum ipsam quibusdam fugit eos quidem, laudantium, iste porro nemo distinctio libero perspiciatis voluptas unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate repellat quam ab a molestias? Cupiditate eius nihil eveniet sit excepturi, magni, provident qui ipsum repellat pariatur corrupti delectus sint incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quia omnis velit sed necessitatibus eius ea nulla impedit voluptatem nihil voluptates veritatis cumque atque cupiditate adipisci, facilis, ab, fugit illum.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quibusdam ex labore facere suscipit in placeat magni eveniet ullam earum odio architecto atque minus, saepe reprehenderit hic, velit id quis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea dolores itaque minima sit hic, mollitia aperiam voluptas ducimus aut sed amet libero esse! Deserunt quam, tempore voluptates delectus commodi quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quis esse, quidem ad aspernatur animi doloremque nemo consequatur aliquid totam illo iusto veritatis voluptas deleniti? Fugit adipisci rem sunt! Tempora!</p>
        </section>
        <section class="secundario">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident similique incidunt, laboriosam veritatis consectetur impedit vero minima sint pariatur esse magnam iure ducimus est, id quidem quis tempora quibusdam natus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem consequatur ipsam, assumenda molestias corporis sed molestiae, quidem quia consequuntur tenetur fugit nobis nostrum! Iusto dolorem laudantium, perspiciatis ipsum possimus voluptatem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis dolor iure tenetur, possimus maiores odit sint ut, dolores sit reprehenderit neque numquam, sapiente laborum alias laboriosam odio id recusandae. Animi?</p>

        </section>
    </main>
    
</body>
</html>