<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/recuperar_senha2.css">
    <link rel="stylesheet" href="/static/css/media-querys/Mgeral.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Recuperar Senha</title>
</head>
<body>
    <header>
        <div><h1>Meu Site</h1></div>
        <menu>
            <a href="/">Início</a>
            <a href="login">Entrar</a>
            <a href="cadastro">Cadastre-se</a>
        </menu>
    </header>
    <main>
        <section>
            <form action="/" method="post" autocomplete="on">
                <p>
                    <label for="isenha">Nova Senha:</label>
                    <input type="password" name="senha" id="isenha" onchange="validar()" size="20" required>
                    <span class="material-symbols-outlined" onclick="mostrar()" id="mostrar"> visibility </span>
                </p>
                <p>
                    <label for="iconf_senha">Confirmar Senha:</label>
                    <input type="password" name="conf_senha" id="iconf_senha" onchange="validar()" size="20" required>
                    <span class="material-symbols-outlined" onclick="mostrar1()" id="mostrar"> visibility </span>
                </p>
                <P>
                    <input type="text" name="user" id="iuser" value="{{user}}" hidden>
                </P>
                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>

    <script>
        function validar(){
            let senha = document.getElementById('isenha')
            let conf_senha = document.getElementById('iconf_senha')
            if (senha.value === conf_senha.value) {
                conf_senha.setCustomValidity('')
            } else {conf_senha.setCustomValidity('As senhas não conferem')}
        }
        function mostrar(){
            let senha = document.querySelector('input#isenha')
            senha.type = senha.type == "text" ? "password" : "text"
}
        function mostrar1(){
            let conf_senha = document.getElementById('iconf_senha')
            conf_senha.type = conf_senha.type == "text" ? "password" : "text"
        }
    </script>
</body>
</html>