<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imagens/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/recuperar_senha.css">
    <link rel="stylesheet" href="/static/css/media-querys/Mgeral.css">
    <title>Recuperar Senha</title>
</head>
<body>
    <header>
        <div><h1>Meu Site</h1></div>
        <menu>
            <a href="/">Início</a>
            <a href="login">Entrar</a>
            <a href="cadastro">Cadastre-se</a>
        </menu>
    </header>
    <main>
        <section>
            <form action="recuperar_senha2" method="post" autocomplete="on">
                <p>
                    <label for="iusuario">Usuario:</label>
                    <input type="text" name="usuario" id="iusuario" required autocomplete="username">
                </p>
                <p><input type="submit" value="Enviar"></p>
                <p id="error">{{msg}}</p>
            </form>
            
        </section>
    </main>
</body>
</html>